<!DOCTYPE html<html>
  <head>
    <title>Demo</title>
      <style>
        textarea {
          min-height: 150px;
          width: 650px;
          padding: 10px;
          font-size: 16px;
          line-height: 1.5;
          resize: none; /* disable resizing */
        }
    </style>
  </head>
  <body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
      var llm_source = new EventSource('/llm_stream');
      llm_source.onmessage = function (event) {
        if (event.data != 1 && event.data != "<focus>") {
           document.getElementById("chat").value += event.data.replace("<newline>", "\n");
           $("textarea#chat").trigger("input");
        }
        else if (event.data == "<focus>") {
          document.getElementById("chat").focus()
        }
      }
      var fps_source = new EventSource('/fps_stream');
      fps_source.onmessage = function (event) {
        if (event.data != 1)
          document.getElementById("fps").innerHTML = "Inference Per Second: " + event.data
      }
      function llm_send() {
        document.getElementById("chat").value += "\n";
        llm();
      }
      function llm() {
        var chat = $('textarea#chat').val();
        var context = $('textarea#context').val();
        $.post('/llm', { prompt_data: chat, prompt_context: context })
      }
      function context_info() {
        $.get('/get_context', function(data){
          document.getElementById("context").innerHTML += data
        });
      }
      $(document).ready(function () {
        $("textarea#chat").on("input", function () {
          this.style.height = "auto";
          this.style.height = this.scrollHeight + 10 + "px";
        });
        var chat = document.getElementById("chat");
        chat.focus();
        chat.selectionStart = chat.selectionEnd = chat.value.length;
      });
    </script>
    <div style="width: 100%; display: table;">
      <div style="display: table-row">
        <div style="width: 1000px; display: table-cell;">
          <h1>Video Stream</h1>
          <img style="width:960px;height:720px;" src="{{ url_for('vid_stream') }}"></img>
          <div id="fps">Inferences Per Second: 0</div>
        </div>
        <div style="display: table-cell;">
          <h1>Inference Data</h1>
          <form>
            <h3>Context</h3>
            <textarea id="context">We are at KubeCon 2023 and I am presenting Efficient Edge Computing: Unleashing the Potential of AI/ML with Lightweight Kubernetes.</textarea><br>
            <h3>Chat</h3>
            <textarea id="chat" onkeyup="if(event.keyCode==13) { llm() }">User: </textarea><br>
            <button type='button' onclick="llm_send()">Send Chat</button>
            <button type='button' onclick="context_info()">Evaluate Context</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
